.modal-overlay
  .modal-content.js-modal
    if (title)
      h1.modal-title #{title}
    .js-content
    if (buttons.length)
      .modal-controls
        each button in buttons
          button.js-button(class=button.className)
            if button.iconClassName
              i(class=button.iconClassName)
              |  
            | #{button.text}
