.modal-overlay
  .modal-content.js-modal
    if (title)
      h1.modal-title #{title}
    .js-content
    if (buttons.length)
      .modal-controls
        each button in buttons
          button.btn.js-button(class=button.className) #{button.text}